{% extends 'base.html' %}

{% block content %}

<div class="container">
	<br>  <p class="text-center">More You Want to know <a href=""></a></p>
<hr>

	
<div class="card">
	<div class="row">
		<aside class="col-sm-5 border-right">
<article class="gallery-wrap"> 
<div class="img-big-wrap">
  <div> <a href=""><img style="width:450px; height:290px;" src="{{ single_product.image.url }}"></a></div>
</div> <!-- slider-product.// -->
<div class="img-small-wrap">
  <div class="item-gallery"> <img src="{{ single_product.image.url }}"> </div>
  <div class="item-gallery"> <img src="{{ single_product.image1.url }}"> </div>
  <div class="item-gallery"> <img src="{{ single_product.image2.url }}"> </div>
  <div class="item-gallery"> <img src="{{ single_product.image3.url }}"> </div>
</div> <!--slider-nav.//
</article> <!-- gallery-wrap .end// -->
		</aside>
		<aside class="col-sm-7">
			<form action="{% url 'add_cart' single_product.id %}" method="POST">
				{% csrf_token %}
				<article class="card-body p-5">
					<h1 class="title mb-3">{{ single_product.product_name }}</h1>

				<p class="price-detail-wrap"> 
					<span class="price h3 text-warning"> 
						<span  style="color:black ;" class="currency"><sup>₹</sup></span><span class="num">{{ single_product.price }}</span><sup style="color: black;">00</sup>
					</span> 
				</p>

				</p> 
				<p>inclusive of all taxes</p><!-- price-detail-wrap .// -->
				<dl class="item-property">
				<dt>Description</dt>
				<dd><p></p>{{ single_product.description }}</dd>
				</dl>
				<dl class="param param-feature">
				<dt></dt>
				<dd></dd>
				</dl>  <!-- item-property-hor .// -->
				<!-- <dl class="param param-feature">
				<dt>Color</dt>
				<dd>Black and white</dd>
				</dl>  item-property-hor .// -->
				<dl class="param param-feature">
				<dt>Delivery</dt>
				<dd>All over India</dd>
				</dl> 

				<hr>
					<div class="row">
						<!-- col.// -->
						<div class="col-sm-7">
							<dl class="param param-inline">
								<dt>Size: </dt>
								<dd>
									<div class="item-option-select">
										<option value="">Select</option>
										<select style="width:8rem ;" name="size" class="form-control" required>
										{% for i in single_product.variation_set.sizes %}
										<option value="{{ i.variation_value }}" >{{ i.variation_value }}</option>
										{% endfor %}
									</select>
									</div>
								</dd>
							</dl>  <!-- item-property .// -->
						</div> <!-- col.// -->
					</div> <!-- row.// -->
					<hr>

					<p style="font-family:sans;">Cash On Delivery</p><p style="font-family:sans;">10 days replacement warranty</p>

					<hr>
					{% if single_product.stock <= 0 %}
					<h5 class="text-danger">Out of Stock</h5>
					{% else %} 
					<h5 class="text-success">In Stock</h5>
					<hr>
						
					{% comment %} <a href="#" class="btn btn-lg btn-primary text-uppercase"> Buy now </a> {% endcomment %}
						<button type="submit" class="btn btn-lg btn-outline-primary text-uppercase"> <i class="fas fa-shopping-cart"></i> Add to cart </button>
					
					{% endif %}
				</article> 
			</form><!-- card-body.// -->
		</aside> <!-- col.// -->
	</div>
     <!-- row.// -->
</div> <!-- card.// -->


</div>
<!--container.//-->


<br><br><br>
<article class="bg-secondary mb-3">  
<!-- <div class="card-body text-center">
    <h4 class="text-white">HTML UI KIT <br> Ready to use Bootstrap 4 components and templates </h4>
<p class="h5 text-white"> for Ecommerce, marketplace, booking websites 
and product landing pages</p>   <br>
<p><a class="btn btn-warning" target="_blank" href="http://bootstrap-ecommerce.com/"> Bootstrap-ecommerce.com  
 <i class="fa fa-window-restore "></i></a></p>
</div> -->
<br><br><br>
</article>

{% endblock %}