
{% extends 'sidebar.html' %}
{% block content %}
{% comment %} {% load mptt_tags %} {% endcomment %}
                      
 
  

<header class="border-bottom mb-4 pb-3">
  <div class="form-inline">
    <span class="mr-md-auto">found <b>{{ product_count }}</b> items found </span>
  </div>
</header>


<div class="row">
  <div class="col-md-2 pl-5">
    <div class="container-fluid">

    {% comment %} <div class="accordion accordion-flush fluid" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
            FILTER &nbsp;<div class="fluid"><i class="fa-solid fa-bars-staggered"></i></div>
          </button>
        </h2> {% endcomment %}
       
        {% comment %} <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <div class="row">
              <ul id="nav-tree">

                
                <li id="li2">
                  <a>
                    <h5>Category</h5>
                  </a>
                  <ul>
                      {% recursetree category %}
                          <li>
                              <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.category_name }}</a>
                              {% if not node.is_leaf_node %}
                                  <ul class="children">
                                      {{ children }}
                                  </ul>
                              {% endif %}
                          </li>
                      {% endrecursetree %}
                                    
                      </ul>
                    </li>
                  </ul>
                
                </li>
              </ul>
            </div>
          </div>
        </div> {% endcomment %}
      {% comment %} </div>
    </div> {% endcomment %}

    
  </div>
</div>
  <div class="col-md-8">
    <div class="container-fluid">
  <div class="row overflow-hidden d-flex justify-content-center align-content-center">
    {% if products %}
    {% for product in products %}
    <div class="col-sm-6 col-lg-3 ">
      <div class="single-publication hover-zoom ripple " data-mdb-ripple-color="light ">
        <figure>
          <a href="{{ product.get_url }}">
            <img class="img-fluid img-thumbnail"
            style="width: 340px; height: 250px" src="{{ product.image.url }}" alt="" />
          </a>

          <ul>
            <li>
              <a href="{% url 'add_to_wishlist' product.id %}" title="Add to Favorite"
                ><i class="fa fa-heart"></i
              ></a>
            </li>
            
          </ul>
        </figure>

        <div class="publication-content">
          <span class="category">{{ product.category }}</span>
          <h3><a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a></h3>
          <ul>
            <li><i class="icofont-star"></i></li>
            <li><i class="icofont-star"></i></li>
            <li><i class="icofont-star"></i></li>
            <li><i class="icofont-star"></i></li>
            <li><i class="icofont-star"></i></li>
          </ul>
          {% if product.discount %}
          <del>{{ product.price }}</del>&nbsp;<h4 class="price">Rs.{{ product.discount }} <span></span></h4>
          {% else %}
          <h4 class="price">Rs.{{ product.price }} <span></span></h4>
          {% endif %}
        </div>

        {% comment %} <div class="add-to-cart">
          <button onclick="addcart({{product.id}})" id="add_b" class="default-btn primary">Add to Cart</button>
        </div> {% endcomment %}
        {% for message in messages %}
          {% if message.tags == 'success' %}
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="text-center text-info">
      <h2 class="info">No Results Found.Please try again</h2>
    </div>
    {% endif %}

    {% comment %} paginator  {% endcomment %}
    
    <nav aria-label="Page navigation example">
    {% if products.has_other_pages %}
      <ul class="pagination justify-content-center">
        {% if products.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
        {% endif %}

        {% for i in products.paginator.page_range %}
          {% if products.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
          {% endif %}  
        {% endfor %}

        {% if products.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
  
  </nav>
  
</div>
</div>
</div>





<script>

 


  function addcart(id){
    swal({
      title: "Done",
      text: "Item added to cart !",
      icon: "success",
      button: "OK",
    })
    .then(()=> { 
      
      window.location.href = "../cart/add_cart/"+id
  });
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
  window.nav = new NavTree("#nav-tree", {
    groupOpenIconClass: "fas",
    groupOpenIcon: "fa-chevron-down",
    groupCloseIconClass: "fas",
    groupCloseIcon: "fa-chevron-right",
    linkIconClass: "fas",
    linkIcon: "fa-link",
    iconWidth: "25px",
  });
});

document.addEventListener('DOMContentLoaded', function () {
  window.nav = new NavTree("#nav-tree", {
    showEmptyGroups: true,
  });
});
</script>

{% endblock %}


