{% extends 'adminss/adminbase.html' %}
{% load static %}
{% block content %}


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">COD</p>
                                <h6 class="mb-0">{{codtotal}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Paypal</p>
                                <h6 class="mb-0">{{paytotal}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Razorpay</p>
                                <h6 class="mb-0">{{raztotal}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">{{total}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">payment method</h6>
                            <canvas id="donut" height="205" style="display: block;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6" style="margin-left: 811px;margin-top: -596px";>
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">payment method</h6>
                            <canvas id="myChart" height="205"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Payment Yearly</h6>
                            <canvas id="mixed-chart" width="900" height="450"></canvas>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Widgets Start -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.0/chart.min.js"></script>
<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['cod ', 'razorpay', 'paypal'],
      datasets: [{
        label: 'Total Amount',
        data: ['{{codtotal}}', '{{raztotal}}', '{{paytotal}}'],
        backgroundColor: [
          // 'rgba(255, 99, 132, 0.8)',
          '#5867dd',
          '#00a65a ',
          '#04c1c4 ',
          'rgba(75, 192, 192, 0.8)',
          'rgba(153, 102, 255, 0.8)',
          'rgba(255, 159, 64, 0.8)'
        ],
        borderColor: [
          '#5867dd',
          '#00a65a ',
          '#04c1c4 ',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script>
  let donut = document.getElementById('donut').getContext('2d');

  // Global Options
  Chart.defaults.global.defaultFontFamily = 'Lato';
  Chart.defaults.global.defaultFontSize = 18;
  Chart.defaults.global.defaultFontColor = '#777';

  let massPopChart = new Chart(donut, {
      type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data: {
          labels: ['COD', 'RAZORPAY', 'PAYPAL'],
          datasets: [{
              label: 'TOTAL SALES',
              data: ['{{codtotal}}','{{raztotal}}','{{paytotal}}'],
                 
              //backgroundColor:'green',
              backgroundColor: [
                  '#63DF0D',
                  '#0D59DF ',
                  '#9E15E7',
                 
              ],
              borderWidth: 1,
              borderColor: '#777',
              hoverBorderWidth: 3,
              hoverBorderColor: '#000'
          }]
      },
      options: {
          title: {
              display: true,
              text: '',
              fontSize: 25
          },
          legend: {
              display: true,
              position: 'right',
              labels: {
                  fontColor: '#000'
              }
          },
          layout: {
              padding: {
                  left: 50,
                  right: 0,
                  bottom: 0,
                  top: 0
              }
          },
          tooltips: {
              enabled: true
          }
      }
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.0/chart.min.js"></script>
<script>
    new Chart(document.getElementById("mixed-chart"), {
        type: 'bar',
        data: {
          labels: ["2022", "2023", "2024", "2025"],
          datasets: [{
              label: "paypal",
              type: "line",
              borderColor: "#8e5ea2",
              data: ['{{paytotal}}'],
              fill: false
            }, {
              label: "cod",
              type: "line",
              borderColor: "#3e95cd",
              data: ['{{codtotal}}'],
              fill: false
            }, {
              label: "razorpay",
              type: "bar",
              backgroundColor: "rgba(0,0,0,0.2)",
              data: ['{{raztotal}}'],
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'Population growth (millions): Europe & Africa'
          },
          legend: { display: false }
        }
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.0/chart.min.js"></script>
<script>
    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
          labels: [2022,2023,2024,2025],
          datasets: [{ 
              data: ['{{codtotal}}'],
              label: "Cod",
              borderColor: "#3e95cd",
              fill: false
            }, { 
              data: [ '{{raztotal}}'],
              label: "Razorpay",
              borderColor: "#8e5ea2",
              fill: false
            }, { 
              data: ['{{paytotal}}'],
              label: "Paypal",
              borderColor: "#3cba9f",
              fill: false
            }
          ]
        },
        options: {
          title: {
            display: true,
            text: 'World population per region (in millions)'
          }
        }
      });
</script>

    {% endblock %}